@tailwind base;
@tailwind components;
@tailwind utilities;

 /* body{
  margin-bottom: 500px;
 } */

:root{
  --dark-blue:#1E1E1E
}
.darkbutton{
  background-color: var(--dark-blue);
  padding: .6rem 1.1rem;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 30px;
}

.learningparagraphs p{
  color: #5C6272;
  padding-left: 10px;
}